# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data files
data/raw/*
data/processed/*
data/output/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/output/.gitkeep

# Environment variables
.env

# DuckDB
*.db
*.duckdb

# Logs
logs/
*.log

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Streamlit cache
.streamlit/

# Streamlit logs
streamlit_logs/

# Streamlit secrets
.streamlit/secrets.toml

# Streamlit config
.streamlit/config.toml

# Streamlit secrets
.streamlit/secrets.toml