# Data manipulation and analysis
numpy>=1.24.0
pandas>=2.0.0
scipy>=1.10.0
duckdb>=0.9.0
pyarrow>=14.0.1

# Plotting and visualization
plotly>=5.13.0
matplotlib>=3.7.0
seaborn>=0.12.0

# Jupyter and development
jupyter>=1.0.0
jupyterlab>=4.0.0
ipywidgets>=8.0.0
jupyter-dash>=0.4.2     # Optional: Plotly Dash in Jupyter

# Machine Learning
scikit-learn>=1.2.0
statsmodels>=0.13.5

# Utilities
tqdm>=4.65.0
requests>=2.31.0

# Testing
pytest>=7.3.1

# Demos

# LLM Integration
anthropic>=0.8.0  # For Claude API access
openai>=1.61.1
groq>=0.20.0

# HTTP requests and web scraping
requests>=2.31.0
beautifulsoup4>=4.12.0
lxml>=4.9.0  # Faster parser for BeautifulSoup
newspaper3k>=0.2.8  # Article extraction and parsing
trafilatura>=1.6.1  # Another good option for content extraction

# Web Interface
streamlit>=1.31.0
PyYAML==6.0.1

# Development
ipython>=8.14.0
